body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background:url("icons/Dark.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}
#navbar ul{
    list-style:none;
    width:100vw;
    height:100vh;
    text-align:center;
    justify-content:center;
    padding:0;
    margin:0px;


}

#navbar li{
    display:inline-block;
    width:150px;
    height:150px;
    color:white;
    backround-color:white;
    margin:20px;
    font-family:Geneva;


}


#imageClass1 {

    margin:auto;
    vertical-align:bottom;
    text-align:center;
    background-color:transparent;
    background-position: center;
    background-image:url("icons/iconmonstr-folder-1-240.png");
    background-repeat:no-repeat;
    background-size:50%;
    width:100px;
    height:100px;
    -moz-border-radius: 1em;
    border-radius:50%;
    border-color:black;


}
#imageClass2 {
    margin:auto;
    background-color:transparent;
    background-position: center;
    background-repeat:no-repeat;
    background-image:url("icons/iconmonstr-github-1-240.png");
    background-size:50%;
    width:100px;
    height:100px;
    -moz-border-radius: 1em;
    border-radius:50%;


}
#imageClass3 {

    margin:auto;
    background-color:transparent;
    background-position: center;
    background-repeat:no-repeat;
    background-size:50%;
    background-image:url("icons/iconmonstr-linkedin-1-240.png");
    width:100px;
    height:100px;
    -moz-border-radius: 1em;
    border-radius:50%;


}
#imageClass4 {


    margin:auto;
    horiz-align: center;
    background-color:transparent;
    background-position: center;
    background-repeat:no-repeat;
    background-image:url("icons/iconmonstr-email-3-240.png");
    background-size:50%;
    width:100px;
    height:100px;
    -moz-border-radius: 1em;
    border-radius:50%;


}

#navbar img{
    text-decoration:none;
    color:black;
    height:100px;
    width:100px;
    display:block;
    font-size:18px;
    background-size:cover;
    object-fit: cover;


}
#imageClass1:hover{
    background-color:white;
    transition:1s;
    cursor:pointer;
}
#imageClass2:hover {
    background-color:white;
    transition: 1s;
    cursor:pointer;
}
#imageClass3:hover {
    background-color:white;
    transition: 1s;
    cursor:pointer;
}
#imageClass4:hover{
    background-color:white;
    transition:1s;
    cursor:pointer;
}

#projects ul {
    list-style:none;
    justify-content:center;
    width:100vw;
    height:100vh;
    text-align:center;
    padding:0;
    margin:0px;
}
#projects li {
    display:inline-block;
    width:200px;
    height:200px;
    color:white;
    margin:10px;
    font-family:Geneva;
}

#contactDiv ul{
    list-style:none;
    justify-content:center;
    width:100vw;
    height:20vh;
    text-align:center;
    padding:0;
    margin:0px;
}
#contactDiv li{
    display:inline-block;
    width:100vw;
    height:50vh;
    color:white;
    margin:10px;
    font-family:Geneva;
}
#contactDiv h1 {
    font-size:5vw;
}

#LiveWay{
    margin:auto;
    horiz-align: center;
    background-position: center;
    background-repeat:no-repeat;
    background-size:75%;
    width:150px;
    height:150px;
    background-image:url("icons/LiveWay.png");
}
#LiveWay:hover{
    cursor:pointer;
}
#NBAStatTracker{
    margin:auto;
    horiz-align: center;
    background-position: center;
    background-repeat:no-repeat;
    background-size:83%;
    width:150px;
    height:150px;
    background-image:url("icons/nba-logo.jpg");
}
#NBAStatTracker:hover{
    cursor:pointer;
}